body {
  background: url(../img/fondo.png);
  background-size: cover;
  margin-top: 50px;
  padding: 0px;
  height: 887px;
  width: 1440px;
  font-style: none;
  font-family: "Montserrat", sans-serif;
}

.avatar {
  position: absolute;
  width: 70px;
  height: 70px;
  padding-top: 5px;
}

.title h1 {
  /* Iniciar Sesión */
  position: absolute;
  width: 303px;
  height: 31px;
  left: 597px;
  top: 53px;
  font-family: 'Montserrat' sans-serif;
  font-size: bold;
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
  color: #0083BA;
}

.principal {
  position: absolute;
  width: 460px;
  height: 492px;
  left: 480px;
  top: 147px;
  background: #FCFEFF;
  border-radius: 84px;
}

.principal input[type="text"] {
  box-sizing: border-box;
  position: absolute;
  width: 400px;
  height: 54px;
  left: 35px;
  top: 150px;
  background: #D9D9D9;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
  font-size: 30px;
  color: #A9A5A5;
  padding-left: 70px;
}

.docente {
  position: absolute;
  width: 200px;
  height: 37px;
  left: 120px;
  top: 250px;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #0083BA;
}

.estudiante {
  position: absolute;
  width: 210px;
  height: 37px;
  left: 130px;
  top: 340px;
  font-weight: 500px;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #0083BA;
}

/* Create a custom radio button */
#docente {
  position: absolute;
  top: 252px;
  left: 95px;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%; 
  border-color:  #57BA8B; 
}

/* On mouse-over, add a grey background color */
#docente:hover {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
#docente:checked {
  background-color: #2196F3;
}

/* Create a custom radio button */
#estudiante {
  position: absolute;
  top: 343px;
  left: 95px;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;  
}

/* On mouse-over, add a grey background color */
#estudiante:hover {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
#estudiante:checked {
  background-color: #2196F3;
}

#button[type="submit"] {
  border: none;
  outline: none;
  height: 25px;
  background: inherit;
  color: #0083BA;
  position: absolute;
  width: 303px;
  height: 45px;
  left: 100px;
  top: 520px;
  font-weight: 900;
  font-size: 32px;
  line-height: 5px;
}

.button:hover[type="submit"] {
  background-color: transparent;
  color: #57BA8B ;
}
h2 {
position: absolute;
width: 299px;
height: 52px;
left: 241px;
top: 49px;
font-weight: 900;
font-size: 30px;
line-height: 37px;
color: #0086BD;
}

#btn-exit{
position: absolute;
background-color: transparent;
border-color: transparent;
width: 80px;
height: 45px;
left: 1240px;
top: 52px;
font-weight: 900;
font-size: 27px;
line-height: 33px;
color: #0086BD;
}
#btn-exit:hover {
  background-color: transparent;
  color: #57BA8B ;
}
#btn-save{
  position: absolute;
  background-color: transparent;
  border-color: transparent;
  width: 80px;
  height: 45px;
  left: 1240px;
  top: 900px;
  font-weight: 900;
  font-size: 27px;
  line-height: 33px;
  color: #0086BD;
  }
  #btn-save:hover {
    background-color: transparent;
    color: #57BA8B ;
  }

  #student-name{
    box-sizing: border-box;
    position: absolute;
    width: 673px;
    height: 57px;
    left: 373px;
    top: 210px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;  
    font-size: 27px;
    padding-left: 200px;
    color: #A9A5A5
  }

#proyect-name{
  box-sizing: border-box;
  position: absolute;
  width: 673px;
  height: 57px;
  left: 373px;
  top: 305  px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 24px;  
  font-size: 27px;
  padding-left: 200px;
  color: #A9A5A5
}
#videoproyect{
  box-sizing: border-box;
  position: absolute;
  width: 673px;
  height: 57px;
  left: 373px;
  top: 395px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 24px;  
  font-size: 27px;
  padding-left: 200px;
  color: #A9A5A5
}
h3{
  position: absolute;
  width: 489px;
  height: 50px;
  left: 475px;
  top: 545px;
  font-weight: 700;
  font-size: 27px;
  line-height: 33px;
  text-align: center;
  color: #56BC8B; 
}
h4{
  position: absolute;
  width: 345px;
  height: 37px;
  left: 407px;
  top: 600px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #0086BD;
}

.plata{
position: absolute;
width: 147px;
height: 217px;
left: 406px;
top: 669px;
}

.bronce{
position: absolute;
width: 145px;
height: 213px;
left: 626px;
top: 669px;
}

.oro{
position: absolute;
width: 146px;
height: 217px;
left: 842px;
top: 669px;
}
h5{
  position: absolute;
  width: 299px;
  height: 52px;
  left: 673px;
  top: 50px;
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
  color: #0085BD;
}
h6{
  position: absolute;
  width: 479px;
  height: 61px;
  left: 93px;
  top: 120px;
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
  color: #0085BD;  
}

.proyect{
position: absolute;
width: 345px;
height: 37px;
left: 546px;
top: 200px;
font-weight: 500;
font-size: 30px;
line-height: 37px;
text-align: center;
color: #000000;
}
/* Dropdown Button */
.dropbtn {
  box-sizing: border-box;
  position: absolute;
  width: 438px;
  height: 47px;
  left: 921px;
  top: 176px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  font-size: 30px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}